.business {
    padding-bottom: 15px;
}

.business .itemsContainer {
    max-height: calc(170px * 4);
    overflow-y: auto;
}

.business .businessItem {
    box-shadow: 0 0 6px 0 #000;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
    height: 492px;
    border-radius: 15px;
}

.business .itemsContainer.businessContainer .businessItem {
    cursor: pointer;
    height: 170px;
}

.business .itemsContainer.apartmentContainer .businessItem .carouselWrapper {
    cursor: pointer;
    height: 215px;
}

.business .itemsContainer.adContainer .businessItem {
    cursor: initial;
    height: 265px;
}

.business .itemsContainer.copounContainer .businessItem {
    cursor: pointer;
    height: 190px;
}

@media (min-width: 768px) {
    .business .itemsContainer.apartmentContainer .businessItem {
        height: 415px;
    }
    .business .itemsContainer.apartmentContainer .businessItem .carouselWrapper {
        height: 139px;
    }
}

@media (min-width: 992px) {
    .business .itemsContainer.apartmentContainer .businessItem {
        height: 470px;
    }
    .business .itemsContainer.apartmentContainer .businessItem .carouselWrapper {
        height: 194px;
    }
}

@media (min-width: 1200px) {
    .business .itemsContainer.apartmentContainer .businessItem {
        height: 447px;
    }
    .business .itemsContainer.apartmentContainer .businessItem .carouselWrapper {
        height: 171px;
    }
}

.business .businessItem .item-header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #1D497B;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.business .itemsContainer.adContainer .businessItem .item-header {
    height: 150px;
    margin: 0.5em;
}

.business .businessItem .first-hr {
    border: none;
    margin: 0;
    border-bottom: 2px solid #1D497B;
}

.business .businessItem .second-hr {
    border: none;
    border-bottom: 2px dashed #f6a124;
    margin: 2px 0 5px;
}

.business .businessItem .item-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.business .itemsContainer.adContainer .businessItem .item-body {
    text-align: center;
}

.business .itemsContainer.copounContainer .businessItem .item-body {
    text-align: center;
}

.business .businessItem .item-body .fa {
    padding: 5px 0;
    width: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.business .businessItem .carouselWrapper {
    position: relative;
    width: 100%;
}

.business .businessItem .carouselWrapper .carousel-control .fa {
    position: relative;
    color: #F6A124;
    top: 45%;
}

.business .businessItem .carouselWrapper .carousel {
    width: 100%;
}

.business .businessItem .carouselWrapper .carousel img {
    width: 100%;
}

.business .businessItem .carouselWrapper .carousel p {
    display: none;
}

.business .businessItem .adHeader {
    font-size: 1.5em;
    font-weight: bold;
}

.business .itemsContainer.copounContainer .businessItem .adHeader {
    margin: 1rem 0;
}

.business i.no-data {
    opacity: 0;
}

.business .hidden {
    visibility: collapse;
}

.business .businessItem .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #00000052;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: initial;
}

@media print {
    .business .businessItem .popup {
        background-color: white !important;
    }
    .business .businessItem .popup-content {
        width: 80vw;
        height: 80vh;
    }
    .business .businessItem .popup-close {
        display: none;
    }
}

.business .businessItem .popup-content {
    width: 550px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}

.business .itemsContainer.apartmentContainer .businessItem .popup-content {
    height: 450px;
}

.business .itemsContainer.copounContainer .businessItem .popup-content {
    height: 470px;
}

.business .businessItem .popup-close {
    text-align: left;
    padding: 17px 0 0 20px;
}

.business .businessItem .popup-close i {
    cursor: pointer;
}

.business .businessItem .popup-header {
    border-bottom: 2px dashed #1D497B;
    padding: 0 20px 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.business .itemsContainer.copounContainer .businessItem .popup-header {
    height: 100px;
    padding: 0;
}

.business .itemsContainer.copounContainer .businessItem .popup-header img {
    max-height: 100%;
    margin: auto;
}

.business .businessItem .popup-body {
    padding: 20px;
    line-height: 2.25em;
}

.business .itemsContainer.apartmentContainer .businessItem .popup-body {
    padding-top: 0px;
}

.business .itemsContainer.copounContainer .businessItem .popup-body {
    text-align: center;
}

.business .itemsContainer.copounContainer .businessItem .popup-body img {
    margin: auto;
}

.business .itemsContainer.businessContainer .businessItem .popup-body .fa {
    padding: 5px;
    background: #F6A124;
    border-radius: 50%;
    width: calc(1em + 10px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.business .businessItem .popup-body .notes {
    color: #1D497B;
    font-weight: bold;
    padding-top: 20px;
}

.business .filter-container {
    display: flex;
    background: #1D497B;
    padding: .75em;
}

.business .filter-container select {
    background: #1D497B;
    margin-left: 1em;
    font-size: larger;
    border: 1px solid white;
    color: white;
    line-height: 1.5em;
    height: 2em;
    width: 14em;
}

.business .filter-container.apartmentFilter select {
    width: 9em;
}

.business .itemsContainer .no-posts-container {
    background-color: #b9cbd9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    padding: 1em;
    margin-top: 10px;
}

.business .itemsContainer .no-posts-container .no-posts-header {
    font-size: 2em;
}

.business .itemsContainer .no-posts-container .no-posts-body {
    font-size: 1.2em;
    text-align: center;
}

.flex-fill {
    flex-grow: 1;
}

.business .filter-container a {
    color: #1D497B;
    background: white;
    padding: .5em 2em;
}

.page-contact .vresize {
    resize: vertical;
}

.page-contact h3 {
    color: #1D497B;
    text-align: center;
}