.business .item {
    box-shadow: 0 0 6px 0px black;
    margin: 10px;
    height: 170px;
}

.business .item .first-hr {
    border: none;
    margin: 0;
    border-bottom: 2px solid #1D497B;
}

.business .item .second-hr {
    border: none;
    border-bottom: 2px solid #F6A124;
    margin: 2px 0 5px;
}

.business .item .item-body .fa {
    padding: 5px 0;
    width: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.business .item .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: #00000052;
    display: flex;
    align-items: center;
    justify-content: center;
}

.business .item .popup-content {
    width: 550px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}

.business .item .popup-close {
    text-align: left;
    padding: 17px 0 0 20px;
}

.business .item .popup-close span {
    cursor: pointer;
}

.business .item .popup-header {
    border-bottom: 2px dashed #1D497B;
    padding: 0 20px 20px;
}

.business .item .popup-body {
    padding: 20px;
    line-height: 1.75em;
}

.business .item .popup-body .fa {
    padding: 5px;
    background: #F6A124;
    border-radius: 50%;
    width: calc(1em + 10px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.business .item .popup-body .notes {
    color: #1D497B;
    font-weight: bold;
    padding-top: 20px;
}

.business .filter-container {
    display: flex;
    background: blue;
    padding: .75em;
    margin: 0 .75em;
}

.business .filter-container select {
    background: blue;
    margin-left: 1em;
    font-size: larger;
    border: 1px solid white;
    color: white;
    line-height: 1.5em;
    height: 2em;
    width: 14em;
}

.flex-fill {
    flex-grow: 1;
}

.business .filter-container a {
    color: blue;
    background: white;
    padding: .5em 2em;
}